h3 {
	display: list-item;
	list-style-type: circle;
	margin-bottom:20pt;
	margin-left:20pt;
	}

	p {
		display: list-item;
		list-style-type: none;
		margin-bottom:20pt;
		margin-left:20pt;
		}