<!-- 
################################################################################
#
# File Name: manage_modules.html
# Application: templates/admin
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->

{% load staticfiles %}
{% load dajaxice_templatetags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/lib/bootstrap.min.css' %}"  media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css' %}" media="screen" />
	<title>Materials Data Curation System</title>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.add.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/xml_display.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/icons.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/table.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/table.add.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/dialog.css' %}" media="screen" />
	
	<!-- JQuery & JQuery UI -->
	<script src="{% static 'resources/lib/jquery/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'resources/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'resources/lib/jquery-ui/themes/smoothness/jquery-ui.css' %}"/>        
    <script src="{% static 'resources/lib/jquery-ui/themes/smoothness/jquery-ui.js' %}"></script>
	<script src="{% static 'dajax/jquery.dajax.core.js' %}"></script>
	{% dajaxice_js_import %}
</head>

<body id="top">

<div id="content-main">

<div id="header-wrapper">
	<div id="header-wrapper-2">
		<div class="center-wrapper">

			<div id="header">


				<div id="logo">


					<h1 id="site-title"><a href="/admin">Materials Data <span>Curation Administration</span></a></h1>
					<h2 id="site-slogan">
{% if user.is_authenticated %}
    Welcome, {{ user.username }}. Thanks for logging in.
{% else %}
    Part of the Materials Genome Initiative
{% endif %}
</h2>
				</div>

				<div id="help-wrapper">
					<div id="help" align="center">
<nobr>
{% if user.is_authenticated %}
    <a href="/logout">Logout</a> 
{% else %}
    <a href="/login">Login</a> 
{% endif %}

<span class="text-separator">|</span> <a href="/my-profile">My Profile</a> <span class="text-separator">|</span> <a href="/help">Help</a> 
</nobr>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div id="navigation-wrapper">
	<div id="navigation-wrapper-2">
		<div class="center-wrapper">
	
			<div id="navigation">

				<ul class="tabbed">
					<li><a href="/">Home</a></li>
					<li><a href="/admin/user-management">User Management</a></li>
					<li class="current_page_item"><a href="/admin/xml-schemas">Templates & Types</a></li>
					<li><a href="/admin/federation-of-queries">Repositories</a></li>
					<li><a href="/admin/backup-database">Database Management</a></li>
				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

		</div>
	</div>
</div>


<div id="subnav-wrapper">
  <div id="subnav-wrapper-2">

    <div class="center-wrapper">
      
      <div id="subnav">

	<ul class="tabbed">
  	  	<li><a href="/admin/xml-schemas/manage-schemas">Manage Templates</a></li>
  		<li><a href="/admin/xml-schemas/manage-types">Manage Types</a></li>
  		<li class="current_page_item"><a href="/admin/xml-schemas/module-management">Manage Modules</a></li>
	  </ul>

	<div class="clearer">&nbsp;</div>

	</div>

      </div>
    </div>
</div>


<div id="content-wrapper">
	<div class="center-wrapper">
		
		<div class="content">

			<div id="featured-wrapper">
				<div id="featured">

<h1>New Module</h1>
					
					<div class="clearer">&nbsp;</div>

				</div>
			</div>

			<div id="main">
Use the following form to insert a module in the curator. You can choose a set of templates to which your module will apply, a tag to be replaced and the HTML code to replace it. You can also provide some resources for your module (.html, .css, .js).
The HTML tag you provide will replace the usual representation of the tag in the form to enter data in the Curator. The following structure will be inserted in the page:
<br/>

<pre>
&lt;div class='module' style='display: inline'&gt;
	HTML tag
	&lt;div class='moduleDisplay'&gt;&lt;/div&gt;
	&lt;div class='moduleResult' style='display: none'&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>


<div>
<table>
<tr>
	<td><b>Templates:</b></td>	
	<td>
	<select multiple="multiple" id="module-templates">
		{% for template in templates%}
			<option value="{{template.id}}">{{template.title}}</option>
		{% endfor %}
	</select>
	</td>
</tr>
<tr>
	<td><b>Module Name:</b></td>
	<td><input type="text" id="module-name"/></td>
</tr>
<tr>
	<td><b>Tag Name:</b></td>
	<td><input type="text" id="module-tag"/></td>
</tr>
<tr>
	<td><b>HTML tag:</b></td>
	<td><textarea rows="3" id="module-HTMLTag"></textarea></td>
</tr>
<tr>
	<td><b>Resources:</b></td>
	<td>
	<p>
		<input type='file' id='moduleResource' name='files[]'></input>
		<span class='btn' id='uploadResource' onclick='uploadResource()'>upload</span>
	</p>
	</td>
</tr>
<tr>
<td></td>
<td id="uploadedResources">
</td>
</tr>
<tr>
<td colspan="2">
	<button class="btn" onclick="addModule()">Add Module</button>
</td>
</tr>
</table>
</div>
			</div>

		</div>

	</div>
</div>

<div id="footer-wrapper">

	<div class="center-wrapper">

		<div id="footer2">

			<div class="left">
				<a href="/admin">Home</a> <span class="text-separator">|</span> <a href="/admin/user-management">User Management</a> <span class="text-separator">|</span> <a href="/admin/xml-schemas">Templates & Types</a><span class="text-separator">|</span> <a href="/admin/federation-of-queries">Repositories</a><span class="text-separator">|</span> <a href="/admin/backup-database">Database Management</a> <span class="text-separator">|</span> <a href="/about">About</a> <span class="text-separator">|</span> <a href="/contact">Contact</a> 
			</div>

			<div class="right">
				<a href="#">Top ^</a>
			</div>
			
			<div class="clearer">&nbsp;</div>

		</div>

	</div>

</div>
<div id="dialog-errors" style="display: none;">
 <p>Unable to upload the module:</p>
 <div id="errors"></div>
</div>

<div id="dialog-added" style="display:none;">
<p>Module created with success.</p>
</div>

<div id="bottom">

	<div class="center-wrapper">

		<div class="left">
			&copy; 2012 - {{ request.session.currentYear }} Materials Data Curation System <span class="text-separator">|</span> <a href="/privacy-policy">Privacy Policy</a> <span class="text-separator">|</span> <a href="/terms-of-use">Terms of Use</a> 
		</div>

		<div class="right">
			<a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a> 
		</div>
		
		<div class="clearer">&nbsp;</div>

	</div>

</div>
<script src="{% static 'inc/controllers/js/module_mgr.js' %}"></script>
<script>
  loadAddModuleHandler();
</script>

</body>
</html>
