<!-- 
################################################################################
#
# File Name: manage_modules.html
# Application: templates/admin
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}<h1>New Module</h1>{% endblock %}

{% block menu %}{% include 'admin/menu-admin.html' with active_tab='tab3' %}{% endblock %}
{% block submenu %}{% include 'admin/submenu-template.html' with active_tab='tab3' %}{% endblock %}

{% block content%}
Use the following form to insert a module in the curator. You can choose a set of templates to which your module will apply, a tag to be replaced and the HTML code to replace it. You can also provide some resources for your module (.html, .css, .js).
The HTML tag you provide will replace the usual representation of the tag in the form to enter data in the Curator. The following structure will be inserted in the page:
<br/>

<pre>
&lt;div class='module' style='display: inline'&gt;
	HTML tag
	&lt;div class='moduleDisplay'&gt;&lt;/div&gt;
	&lt;div class='moduleResult' style='display: none'&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>


<div>
<table>
<tr>
	<td><b>Templates:</b></td>	
	<td>
	<select multiple="multiple" id="module-templates">
		{% for template in templates%}
			<option value="{{template.id}}">{{template.title}}</option>
		{% endfor %}
	</select>
	</td>
</tr>
<tr>
	<td><b>Module Name:</b></td>
	<td><input type="text" id="module-name"/></td>
</tr>
<tr>
	<td><b>Tag Name:</b></td>
	<td><input type="text" id="module-tag"/></td>
</tr>
<tr>
	<td><b>HTML tag:</b></td>
	<td><textarea rows="3" id="module-HTMLTag"></textarea></td>
</tr>
<tr>
	<td><b>Resources:</b></td>
	<td>
	<p>
		<input type='file' id='moduleResource' name='files[]'></input>
		<span class='btn' id='uploadResource' onclick='uploadResource()'>upload</span>
	</p>
	</td>
</tr>
<tr>
<td></td>
<td id="uploadedResources">
</td>
</tr>
<tr>
<td colspan="2">
	<button class="btn" onclick="addModule()">Add Module</button>
</td>
</tr>
</table>
</div>

{% endblock %} 

{% block extra %}
<div id="dialog-errors" style="display: none;">
 <p>Unable to upload the module:</p>
 <div id="errors"></div>
</div>

<div id="dialog-added" style="display:none;">
<p>Module created with success.</p>
</div>


<script src="{% static 'inc/controllers/js/module_mgr.js' %}"></script>
<script>
  loadAddModuleHandler();
</script>
{% endblock %}