{% extends "admin/index.html" %}
{% load i18n %}

{% if not is_popup %}
{% block breadcrumbs %}
<div id="subnav-wrapper">
  <div id="subnav-wrapper-2">

    <div class="center-wrapper">
      
      <div id="subnav">

	<ul class="tabbed">	  
	  	<li class="current_page_item"><a href="/admin/user-management">Manage Users</a></li>	  
	  	<li><a href="/admin/user-requests">Account Requests</a></li> 		
	  </ul>

	<div class="clearer">&nbsp;</div>

	</div>

      </div>
    </div>
</div>
<div id="content-wrapper">
	<div class="center-wrapper">

		<div class="content">

			<div id="featured-wrapper">
				<div id="featured">

<h1>User Management</h1>

					<div class="clearer">&nbsp;</div>

				</div>
			</div>

{% endblock %}
{% endif %}

{% block sidebar %}

</div>
</div>
</div>
{% endblock %}