<!-- 
################################################################################
#
# File Name: add_repository.html
# Application: templates/admin
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->

{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Refresh Instance Token{% endblock %}

{% block menu %}{% include 'admin/menu-admin.html' with active_tab='tab4' %}{% endblock %}

{% block content %}
Use the following form to refresh the token of the selected instance.

<div>
<br/>
<form action="/admin/repositories/refresh-repository/" method="post">
 	{% csrf_token %}
    {{ form }}
    <br/>
    <div id="instance_error" style="font-weight: bold;">
    {{action_result}}
    </div>
    <input type="submit" class="btn" name="action" value="Refresh"/>
</form>
</div>

{% endblock %}

<script src="{% static 'inc/controllers/js/fed_of_queries.js' %}"></script>

