<table id="add">
    <!--<tr>-->
        <!--<td>{{registry_form.name.label}}</td>-->
        <!--<td>{{registry_form.name}}</td>-->
    <!--</tr>-->
    <tr>
        <td>{{registry_form.url.label}}</td>
        <td>{{registry_form.url}}</td>
    </tr>
    <tr>
        <td>{{registry_form.harvestrate.label}}</td>
        <td>{{registry_form.harvestrate}}</td>
    </tr>
    <!--<tr>-->
        <!--<td>{{registry_form.metadataprefix.label}}</td>-->
        <!--<td>{{registry_form.metadataprefix}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>{{registry_form.identity.label}}</td>-->
        <!--<td>{{registry_form.identity}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>{{registry_form.sets.label}}</td>-->
        <!--<td>{{registry_form.sets}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>{{registry_form.description.label}}</td>-->
        <!--<td>{{registry_form.description}}</td>-->
    <!--</tr>-->
    <tr>
        <td>{{registry_form.harvest.label}}</td>
        <td id="ButtonSetAdd{{registry_form.data.id}}">
            {{registry_form.harvest}}
            <label for="{{registry_form.harvest.id_for_label}}">
                tt
            </label>
        </td>
    </tr>
</table>