{% extends "mdcs/extra/one_column.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: contact_messages.html
# Application: templates/admin
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}

{% endblock %}

{% block title %}<h1>Build Request</h1>{% endblock %}

{% block menu %}{% include 'admin/menu/main.html' with active_tab='tab6' %}{% endblock %}
{% block submenu %}{% include 'admin/menu/submenu/oai-pmh.html' with active_tab='tab2' %}{% endblock %}

{% block content%}

{% endblock %}  

{% block popups %}

{% endblock %}

{% block extrajs %}

<script>

</script>

{% endblock %}  
