{% extends "mdcs/extra/one_column.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: contact_messages.html
# Application: templates/admin
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#         Xavier SCHMITT
#         xavier.schmitt@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/XMLTree.css' %}" media="screen" />
{% endblock %}

{% block title %}<h1>Build Request</h1>{% endblock %}

{% block menu %}{% include 'admin/menu/main.html' with active_tab='tab6' %}{% endblock %}
{% block submenu %}{% include 'admin/menu/submenu/oai-pmh.html' with active_tab='tab2' %}{% endblock %}

{% block content%}
<div class="clearer">&nbsp;</div>
<div class="alert alert-warning" id="banner_submit_wait" style="display: none;">
            <h4><i class='fa fa-circle-o-notch fa-spin fa-1x'></i>&nbsp;&nbsp;Please wait ...</h4>
        </div>

    {% if request_form.dataProvider.choices|length > 1 %}
        <table>
            <tr>
                <td>Data providers:</td>
                <td> {{request_form.dataProvider}}
                </td>
            </tr>

            <tr>
                <td>Verb:</td>
                <td>
                    {{request_form.verb}}
                </td>
            </tr>

            <tr>
                <td>Set:</td>
                <td>
                    {{request_form.set}}
                </td>
            </tr>

            <tr>
                <td>Identifiers:</td>
                <td>
                    {{request_form.identifiers}}
                </td>
            </tr>

            <tr>
                <td>Metadata Prefix:</td>
                <td>
                    {{request_form.metadataprefix}}
                </td>
            </tr>

            <tr>
                <td>Resumption Token:</td>
                <td>
                    {{request_form.resumptionToken}}
                </td>
            </tr>
        </table>

        <div style="float: left">
            <button class="btn btn-default" id="submitBtn" onclick="checkSubmit()">Submit</button>
            <button id="downloadXML" class="btn download" style="display: none" onclick="downloadXmlBuildReq();"><i class="icon-arrow-down"></i> Download XML </button>
        </div>
<br/><br/>
        {% autoescape off %}
        <div style="background-color: #f0f0f0" id="result"></div>
        {% endautoescape %}

    {% else %}
        No data providers available.
    {% endif %}

{% endblock %}  

{% block popups %}
<div class="alert alert-error" id="dialogError" role="alert" title="Error" style="display:none;">
    <h4><i class="fa fa-exclamation-circle fa-1x"></i> Error</h4>
    <br/>
    <div id="alert">
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/oai_pmh.js' %}"></script>
<script type="text/javascript">
    init();
    $("select#id_dataProvider").on('change', function() {
      populateSelect();
    });
</script>
{% endblock %}
