<div style="background-color:#fafafa">
    <table>
        <tr style="background-color:#f0f0f0">
            <td style="width:180px" colspan="2">
            <strong>General</strong>
            </td>
            <tr >
                <td width="180">
                    Name
                </td>
                <td>
                    <span class='value'>
                       {{registry.name}}
                    </span>
                </td>
            </tr>
            <tr >
                <td width="180">
                    URL
                </td>
                <td>
                    <span class='value'>
                       {{registry.url}}
                    </span>
                </td>
            </tr>
            <tr >
                <td width="180">
                    Description
                </td>
                <td>
                    <span class='value'>
                       {{registry.description}}
                    </span>
                </td>
            </tr>
            <tr >
                <td width="180">
                    Number of metadata formats
                </td>
                <td>
                    <span class='value'>
                       {{registry.metadataformats|length}}
                    </span>
                </td>
            </tr>
            <tr >
                <td width="180">
                    Number of sets
                </td>
                <td>
                    <span class='value'>
                       {{registry.sets|length}}
                    </span>
                </td>
            </tr>
            <tr >
                <td width="180">
                    Number of harvested records
                </td>
                <td>
                    <span class='value'>
                       0
                    </span>
                </td>
            </tr>
            <tr >
                <td width="180">
                    Last update
                </td>
                <td>
                    <span class='value'>
                       02/17/2016 8:33:54 PM
                    </span>
                </td>
            </tr>
        </tr>
        <tr style="background-color:#f0f0f0">
            <td style="width:180px" colspan="2">
            <strong>Metadata Formats ({{registry.metadataformats|length}})</strong>
            </td>
            <tr style="background-color:#f0f0f0">
                <td style="font-style: italic;">Prefix</td>
                <td style="font-style: italic;">Namespace</td>
            </tr>
            {% for object in registry.metadataformats %}
                <tr>
                    <td width="180">
                        {{object.metadataPrefix}}
                    </td>
                    <td>
                        <span class='value'>
                            {{object.metadataNamespace}}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tr>
        <tr style="background-color:#f0f0f0">
            <td style="width:180px" colspan="2">
            <strong>Sets ({{registry.sets|length}})</strong>
            </td>
            <tr style="background-color:#f0f0f0">
                <td style="font-style: italic;">Spec</td>
                <td style="font-style: italic;">Name</td>
            </tr>
            {% for object in registry.sets %}
                <tr>
                    <td width="180">
                        {{object.setSpec}}
                    </td>
                    <td>
                        <span class='value'>
                            {{object.setName}}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tr>
    </table>
</div>