{% extends "mdcs/extra/one_column.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: contact_messages.html
# Application: templates/admin
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#         Xavier SCHMITT
#         xavier.schmitt@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/XMLTree.css' %}" media="screen" />
{% endblock %}

{% block title %}<h1>Build Request</h1>{% endblock %}

{% block menu %}{% include 'admin/menu/main.html' with active_tab='tab6' %}{% endblock %}
{% block submenu %}{% include 'admin/menu/submenu/oai-pmh.html' with active_tab='tab2' %}{% endblock %}

{% block content%}

<div class="alert alert-warning" id="banner_submit_wait" style="display: none;">
            <h4><i class='fa fa-circle-o-notch fa-spin fa-1x'></i>  </i>&nbsp;&nbsp;Please wait ...</h4>
        </div>

    {% if registries %}

        <table>
            <tr>
                <td>Data providers:</td>
                <td>
                    <select name="reg" id="reg" style="width:500px" onchange="populateSelect();">
                        <option value="0">Pick one</option>
                        {% for r in registries %}
                            <option value="{{ r.id }}|{{ r.url }}">{{ r.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>Verb:</td>
                <td>
                    <select name="verb" id="verb" style="width:500px">
                        <option value="0">Pick one</option>
                        <option value="1">Identify</option>
                        <option value="2">Get Record</option>
                        <option value="3">List Records</option>
                        <option value="4">List Sets</option>
                        <option value="5">List Identifiers</option>
                        <option value="6">List Metadata Formats</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Set:</td>
                <td>
                    <select name="set" id="set" disabled="true" style="width:500px">
                        <option>Pick one</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Identifiers:</td>
                <td>
                    <input class="text" name="identifier" id="identifier" type="text">
                </td>
            </tr>

            <tr>
                <td>Metadata Prefix:</td>
                <td>
                    <select name="pre" id="pre" disabled="true" style="width:500px">
                        <option value="0">Pick one</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Resumption Token:</td>
                <td>
                    <input class="text" name="token" id="token" type="text">
                </td>
            </tr>
        </table>

        <div style="float: left">
            <button id="submitBtn" onclick="checkSubmit()">Submit</button>
        </div>
<br/><br/>
        {% autoescape off %}
        <div id="result"></div>
        {% endautoescape %}

    {% else %}
        No data providers available.
    {% endif %}

{% endblock %}  

{% block popups %}
<div class="alert alert-error" id="dialogError" role="alert" title="Error" style="display:none;">
    <h4><i class="fa fa-exclamation-circle fa-1x"></i> Error</h4>
    <br/>
    <div id="alert">
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/oai_pmh.js' %}"></script>
<script type="text/javascript">
    init();
</script>
{% endblock %}
