{% extends "mdcs/extra/one_column.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: contact_messages.html
# Application: templates/admin
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/lib/jquery-duration-picker.css' %}"  media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/XMLTree.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/oai_pmh.css' %}" media="screen" />
{% endblock %}

{% block title %}<h1>My information</h1>{% endblock %}

{% block menu %}{% include 'admin/menu/main.html' with active_tab='tab6' %}{% endblock %}
{% block submenu %}{% include 'admin/menu/submenu/oai-pmh.html' with active_tab='tab3' %}{% endblock %}

{% block content%}
<div class="toolbar">
	<div class="btn-group pull-right">
    	<span class="btn" onclick="editMyRegistry();" style="text-decoration:none"><i class="fa fa-cogs"></i>&nbsp;&nbsp;Modifiy Data Provider</span>
        <span class="btn" onclick="checkStatus('', '{{data_provider.baseURL}}');" style="text-decoration:none"><i class="fa fa-check-circle"></i> Check status</span>
  	</div>
</div>
<br/><br/><br/>
    {% if data_provider %}
    <table id="data-provider-my-info" class="data-table">
        <tr>
            <td>Status</td>
            <td style="text-align:center;" url="{{data_provider.baseURL}}" id="Status">
                ---
            </td>
        </tr>
        <tr class="invisible"><td></td><td></td></tr>
        <tr>
            <td>Name</td>
            <td>
                <span class='value'>
                   {{data_provider.name}}
                </span>
            </td>
        </tr>
        <tr>
            <td>Admin Email</td>
            <td>
                <span class='value'>
                    {% for admin in data_provider.admins %}
                        {{ admin }}
                    {% endfor %}
                </span>
            </td>
        </tr>
        <tr>
            <td>Base URL</td>
            <td>
                <span class='value'>
                   {{data_provider.baseURL}}
                </span>
            </td>
        </tr>
        <tr>
            <td>Has Deleted Record</td>
            <td>
                <span class='value'>
                   {{data_provider.deleted}}
                </span>
            </td>
        </tr>
        <tr>
            <td>Granularity</td>
            <td>
                <span class='value'>
                   {{data_provider.granularity}}
                </span>
            </td>
        </tr>
        <tr>
            <td>Protocol Version</td>
            <td>
                <span class='value'>
                   {{data_provider.protocole_version}}
                </span>
            </td>
        </tr>
        <tr>
            <td>Delimiter</td>
            <td>
                <span class='value'>
                   {{data_provider.identifier_delimiter}}
                </span>
            </td>
        </tr>
        <tr>
            <td>Scheme</td>
            <td>
                <span class='value'>
                   {{data_provider.identifier_scheme}}
                </span>
            </td>
        </tr>
        <tr>
            <td>Repository Identifier</td>
            <td>
                <span class='value'>
                   {{data_provider.repository_identifier}}
                </span>
            </td>
        </tr>
        <tr>
            <td>Sample Identifier</td>
            <td>
                <span class='value'>
                   {{data_provider.sample_identifier}}
                </span>
            </td>
        </tr>
        <tr>
            <td>Enable Harvesting</td>
            <td id="ButtonSet123">
                {% if data_provider.enable_harvesting == True %}
                    <input id="56cddd02a530af58332ad554" class="cmn-toggle cmn-toggle-round ui-helper-hidden-accessible" disabled="" type="checkbox" checked="">
                {% else %}
                    <input id="56cddd02a530af58332ad554" class="cmn-toggle cmn-toggle-round ui-helper-hidden-accessible" disabled="" type="checkbox">
                {% endif %}
                <label for="56cddd02a530af58332ad554">
                    tt
                </label>
            </td>
        </tr>

    </table>

    <div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
             <div class="alert alert-warning" style="display: block;">
                <h4><i class='fa fa-circle-o-notch fa-spin fa-1x'></i>  </i>&nbsp;&nbsp;Please wait ...</h4>
            </div>
        </div>
    </div>
    {% else %}
        No information available.
    {% endif %}
{% endblock %}  

{% block popups %}
<div id="dialog-detail-registry" title="Data Provider Details" style="display:none;">
    <div id="registry_detail"></div>
</div>

<div id="dialog-edit-my-registry" title="Edit" style="display:none;">
    <div class="alert alert-error" id="banner_edit_my_errors" style="display: none;">
        <h4><i class="fa fa-exclamation-circle fa-1x"></i> Error</h4>
        <div id="form_edit_errors">
        </div>
    </div>
    <form id="form_edit_my_registry"  enctype="multipart/form-data">
		{% csrf_token %}
		<div id="form_edit_current"></div>
	</form>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/oai_pmh.js' %}"></script>
<script>
	Init();
</script>

{% endblock %}  
