@charset "utf-8";
/**
 * 	Parser Implementation Tester additional CSS properties
 */
body#content-wrapper {
	background: white;
	margin: 7px;
}

.block
{
	margin: 2px;
	margin-bottom: 10px;
	padding: 3px;
	
	background: #eFeFeF;
	border: 1px grey solid;
}
