#customForm
{
	overflow-y: auto; 
	overflow-x: auto;
	max-height:500px;
    margin-right:330px;
}

#customForm .ui-draggable:hover
{
	cursor:"hand";
}

   
#queryBuilder
{	
	width:320px;
	float:right;
	margin-right:0;
	z-index:0; 
	max-height:500px;
	overflow-y: auto; 
    /*position: fixed;*/
}

#queryBuilder select
{
	width:50px;	
	font-size: 0.8em;
	padding-left:0;
	top:0;
}

#queryBuilder .elementInput
{
	font-size: 0.8em;
	width:80px;
	margin-bottom:0;
	cursor:"copy";
}

#queryBuilder input[readonly]
{
	cursor:text;
}

#queryBuilder .queryInput
{
	font-size: 0.8em;
	width:202px;
	margin-bottom:0;
}
 
#queryBuilder .valueInput
{
	font-size: 0.8em;
	width:50px;
	margin-bottom:0;
}

#queryBuilder .selectInput
{
	font-size: 0.8em;
	width:119px;
	margin-bottom:0;
} 

#queryBuilder p
{
	font-weight: bold;
}


#queriesTable table, 
#queriesTable th,
#queriesTable td
{
	border:1px solid black;
	border-collapse:collapse;
}

#queriesTable th,
#queriesTable td
{
	border:1px solid black;
	border-collapse:collapse;
	text-align: center;
	font-size: 0.9em;
}

#queriesTable table
{
	width:320px;
}

#queriesTable th
{
	background-color: orange;
}

/*#queryForm
{
	overflow-y: auto; 
	overflow-x: hidden;
	max-height:180px;
}*/

/*#queriesTable
{
	overflow-y: auto; 
	overflow-x: hidden;
	max-height:180px;
}*/