 #queryBuilder
{	
	z-index:0; 
	overflow-y: auto; 
}

#queryBuilder select
{
	width:70px;	
	font-size: 0.9em;
	padding-left:0;
	top:0;
}

#queryBuilder .elementInput
{
	font-size: 0.9em;
	width:230px;
	margin-bottom:0;
}

#queryBuilder input[readonly]
{
	cursor:pointer;
}

#queryBuilder .queryInput
{
	font-size: 0.9em;
	width:472px;
	margin-bottom:0;
}
 
#queryBuilder .valueInput
{
	font-size: 0.9em;
	width:150px;
	margin-bottom:0;
}

#queryBuilder .selectInput
{
	font-size: 0.8em;
	width:119px;
	margin-bottom:0;
} 

#queryBuilder p
{
	font-weight: bold;
}


#queriesTable table, 
#queriesTable th,
#queriesTable td
{
	border:1px solid black;
	border-collapse:collapse;
}

#queriesTable th,
#queriesTable td
{
	border:1px solid black;
	border-collapse:collapse;
	text-align: center;
	font-size: 0.9em;
}

#queriesTable th
{
	background-color: orange;
}

#SPARQLqueryBuilder .SPARQLTextArea
{
	width:640px;
	height:300px;
	resize:none;
	cursor:text;
}

#SPARQLqueryBuilder .btn
{
	float: right;
	margin-bottom: 20px;
}

#sparqlCustomForm
{
	height: 300px;
	overflow: auto;
}

#sparqlElementPath
{
	width: 95%;
}

#sparqlExample
{
	width: 95%;	
	resize: none;
}
/*#queryForm
{
	overflow-y: auto; 
	overflow-x: hidden;
	max-height:180px;
}*/

/*#queriesTable
{
	overflow-y: auto; 
	overflow-x: hidden;
	max-height:180px;
}*/