/**
 * 	CSS for the JQuery UI dialog
 * 	
 * 	Used in the Configuration View mostly
 */
@CHARSET "UTF-8";

.elementId
{
	display: none;
}

.popup-text, .tip
{
	padding: 2px;
}

.dialog.fieldset
{
	padding: 3px;
	margin-bottom: 0;
}

.dialog.subpart
{
	margin: 2px;
}

.dialog.subpart>input.popup-text
{
	margin-left: 15px;
	display:block;
}

input.popup-text:disabled
{
	background:#DDDDDD;
	color:#888888;
}

.dialog.subitem
{
	display:inline-block;
	margin-left: 15px;
	margin-top:2px;
}

.dialog.subitem>input
{
	margin-left: 3px;
	vertical-align: middle;
}
