{% comment %}
<!--
################################################################################
#
# File Name: footer.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}
<div id="footer-wrapper">
	<div class="center-wrapper">
		<div id="footer2">
			<div class="left">
				<a href="/">Home</a> <span class="text-separator">|</span> <a href="/curate">Data Curation</a> <span class="text-separator">|</span> <a href="/explore">Data Exploration</a> <span class="text-separator">|</span> <a href="/compose">Composer</a><span class="text-separator">|</span> <a href="/contact">Contact</a>
			</div>
			<div class="right">
				<a href="#">Top ^</a>
			</div>
			<div class="clearer">&nbsp;</div>
		</div>
	</div>
</div>