.attr
{
	background-color: #999;
	border-color: #E0A21B;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	padding: 3px;
	color: white;
}

b
{
	margin-right: 3px;
}

.unavailable
{
	color: gray;
}

.addItem, .removeItem
{
	cursor:pointer;
}

#content-wrapper li
{
	margin-top: 7px;
}

.debug-wrapper
{
	float: right;
	width: 460px;
	
	margin-top: 3px;
	
	padding-left: 3px;
	padding-top: 10px;
	
	/*border-style: solid;*/
	border: 2px solid red;
	border-radius: 5px;
	background: -webkit-gradient(linear, right top, right bottom, from(#BFBFBF), to(#707070));
	background: -moz-linear-gradient(top,  #BFBFBF,  #707070);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFBFBF', endColorstr='#707070');
	
	/*background: #BFBFBF;*/
}

