@CHARSET "UTF-8";

.divModalDialog {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 250px;
	height: 250px;
	padding: 5px;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	/*! important !*/
	display: none;
	background-color: rgba(210, 210, 210, 0.95);
	/*text-align: center;*/
	z-index: 101;
}
/*** ! target attribute does the job ! ***/
.divModalDialog:target {
	display: block;
}

.popup.cancelButton {
	margin-top: 0px;
	float: right;
}

.popup.title {
	margin-top: 5px;
	text-align: center;
	font-size: 20px;
}