{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: curate_enter_data.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
# 		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/XMLTreeCurator.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/nmrr/repo.css' %}" media="screen" />
{% endblock %}

{% block title %}
<h3>
{% if template_name == 'repository' %}
<img width="100" src="http://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/tables.png">
{% else %}
{% endif %}

Add your {{template_name}}
</h3>
{% endblock %}


{% block content %}
<div class="toolbar">
	<div class="btn-group pull-right">
		<button class="btn"><i class="icon-file"></i> My {{template_name|capfirst}}(s) </button>    	
    	<button class="btn"><i class="icon-hdd"></i> My Resources </button>
	</div>
<br/><br/>
<div id="xsdForm">
Please wait while the form is loading...
<br/><br/>
</div>
</div>
<a class="button save-to-repo">ADD {{template_name}}</a>
<a class="button button-reversed clear-fields">Clear</a>
{% endblock %}

{% block popups %}
<div id="dialog-cleared-message" title="Fields Cleared" style="display:none;">
<p></p>
  <p>
    Are you sure you want to reset the form?
  </p>
</div>

<div id="dialog-save-error-message" title="XML Data Error" style="display:none;">
<p></p>
  <div id="saveErrorMessage">
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/XMLTreeCurator.js' %}"></script>
<script src="{% static 'inc/controllers/js/modules.js' %}"></script>
<script src="{% static 'inc/controllers/js/curate.js' %}"></script>
<script>
verifyTemplateIsSelectedCurateEnterData();
$('.button.save-to-repo').on('click', validateXML);
$('.button.clear-fields').on('click', clearFields);
</script>
{% endblock %}

