{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: curate_enter_data.html
# Application: templates
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
# 		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
{% endblock %}

{% block title %}<h3>Add your Resource</h3>{% endblock %}

{% block content %}
<div class="clearer">&nbsp;</div>
<div id="dialog-message" title="Template Loaded">
	<div id="form_start_errors" style="color:red;"></div>
    <form id="form_start" action="/curate/start_curate" method="post">
        {% csrf_token %}
		{% include 'curate/curate_start.html' %}
	</form>
	<div class="clearer">&nbsp;</div>
	<button class="btn btn-default" onclick="displayTemplateProcess();">Start </button>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/curate.js' %}"></script>
<script>
    enterKeyPressSubscription();
</script>
{% endblock %}