{% extends "mdcs/extra/two_columns.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: curate_enter_data.html
# Application: templates
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
# 		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/XMLTreeCurator.css' %}" media="screen" />
{% endblock %}

{% block title %}<h1>Data Entry</h1>{% endblock %}
{% block menu %}{% include 'mdcs/menus/main.html' with active_tab='tab1' %}{% endblock %}
{% block submenu %}
<ul class="tabbed">
	<li><a href="/curate/select-template">Select Template</a></li>
	<li class="current_page_item"><a href="/curate/enter-data">Enter Data</a></li>
	<li><a onclick="validateXML();" style="cursor: pointer;">View Data</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="alert alert-danger" id="banner_errors" style="display: none;">
        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
     	<h4><i class="fa fa-exclamation-circle fa-1x"></i> Error</h4>
        <div id="form_start_errors">
</div>
</div>
<h3>Please choose one of the following options to start curating data:</h3>
<div class="clearer">&nbsp;</div>
<div id="dialog-message" title="Template Loaded">
    <form id="form_start" action="/curate/start_curate" method="post">
        {% csrf_token %}
		{% include 'curate/curate_start.html' %}
	</form>
	<div class="clearer">&nbsp;</div>
	<button class="btn btn-default" onclick="displayTemplateProcess();">Start </button>
</div>
{% endblock %}

{% block sidebar %}
<div class="box">
	<div class="box-title">{{CUSTOM_CURATE}}</div>
	<div class="box-content">
		<ul class="nice-list">
            <li>
                <div class="l-img">
                    <img width="40" height="40" src="{% static 'resources/img/Orange_Number_1.png' %}" alt="1">
                </div>
                <div class="r-txt"><a href="/curate/select-template">Select Template</a></div>
            </li>
            <li>
                <div class="l-img">
                    <img width="40" height="40" src="{% static 'resources/img/Orange_Number_2.png' %}" alt="2">
                </div>
                <div class="r-txt-selected"><a href="/curate/enter-data">Enter Data</a></div>
            </li>
            <li>
                <div class="l-img">
                    <img width="40" height="40" src="{% static 'resources/img/Orange_Number_3.png' %}" alt="3">
                </div>
                <div class="r-txt"><a href="/curate/view-data">View Data</a></div>
            </li>
		</ul>
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/curate.js' %}"></script>
<script>
    enterKeyPressSubscription();
    initBanner();
</script>
{% endblock %}