{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: curate_view_data.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/XMLTree.css' %}" media="screen" />
{% endblock %}

{% block title %}<h3>View Data</h3>{% endblock %}
{% block description %}

{% endblock %}


{% block content %}
<div class="btn-group pull-right">
	<!--<button class="btn download-xml"><i class="icon-arrow-down"></i> Download XML</button>-->
	<button class="btn save-to-repo"><i class="icon-star"></i> Save to repository</button>
</div>

<div class="clearer">&nbsp;</div>

<div id="XMLHolder"></div>

<br/><br/>
{% endblock %}


{% block popups %}
<div id="dialog-save-data-message" title="Save to Repository" style="display:none;">
	Save data to the repository.
	<form id="form_save" action="/curate/save_data" method="post">
	{% csrf_token %}
	{{form_save}}
	</form>
	<div id="saveErrorMessage" style="color:red;"></div>
</div>

<div id="dialog-saved-message" title="XML Data Saved" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Save to repository successful.
  </p>
</div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/XMLTree.js' %}"></script>
<script src="{% static 'inc/controllers/js/curate.js' %}"></script>
<script>
verifyTemplateIsSelectedViewData();
</script>
{% endblock %}
