<!-- 
################################################################################
#
# File Name: browse-all.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->

{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Browse All{% endblock %}

{% block menu %}{% include 'menu.html' with active_tab='all' %}{% endblock %}


{% block content %}
<table class="table table-bordered">
  <tr>
    <th>Template name</th>
    <th>File name</th>
  </tr>
			  
{% for template in templates %}
  {% cycle 'even' '' as rowcolors silent %}
  <tr class="{{ rowcolors }}">
    <td>
{{ template.title }}
    </td>
    <td>
{{ template.filename }}
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
