<!-- 
################################################################################
#
# File Name: compose.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->

{% load staticfiles %}

{% load dajaxice_templatetags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/lib/bootstrap.min.css' %}"  media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css' %}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.add.css' %}"  media="screen" />
	<title>Materials Data Curation System</title>

	<!-- JQuery & JQuery UI -->
	<script src="{% static 'resources/lib/jquery/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'resources/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'resources/lib/jquery-ui/themes/smoothness/jquery-ui.css' %}"/>        
    <script src="{% static 'resources/lib/jquery-ui/themes/smoothness/jquery-ui.js' %}"></script>
	<script src="{% static 'dajax/jquery.dajax.core.js' %}"></script>

        {% dajaxice_js_import %}
</head>

<body id="top">

<div id="header-wrapper">
	<div id="header-wrapper-2">
		<div class="center-wrapper">

			<div id="header">

				<div id="logo">
					<h1 id="site-title"><a href="#">Materials Data <span>Curation System</span></a></h1>
					<h2 id="site-slogan">
{% if user.is_authenticated %}
    Welcome, {{ user.username }}. Thanks for logging in.
{% else %}
    Part of the Materials Genome Initiative
{% endif %}
</h2>
				</div>

				<div id="help-wrapper">
					<div id="help" align="center">
<nobr>
{% if user.is_authenticated %}
    <a href="/logout">Logout</a> 
{% else %}
    <a href="/login">Login</a> 
{% endif %}

<span class="text-separator">|</span> <a href="/my-profile">My Profile</a> <span class="text-separator">|</span> <a href="/help">Help</a> 
</nobr>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div id="navigation-wrapper">
	<div id="navigation-wrapper-2">
		<div class="center-wrapper">
	
			<div id="navigation">

				<ul class="tabbed">
					<li><a href="/">Home</a></li>
					<li><a href="/curate">Data Curation</a></li>
					<li><a href="/explore">Data Exploration</a></li>
					<li class="current_page_item"><a href="/compose">Composer</a></li>
				</ul>
				<div class="clearer">&nbsp;</div>

			</div>

		</div>
	</div>
</div>

<div id="subnav-wrapper">
  <div id="subnav-wrapper-2">

    <div class="center-wrapper">
      
      <div id="subnav">

	<ul class="tabbed">
	  <li class="current_page_item"><a href="/compose/select-template">Start Template</a></li>
	  <li><div style="cursor:pointer"><a onclick="verifyTemplateIsSelected('/compose/build-template');">Compose Template</a></div></li>
	  <!-- <li><div style="cursor:pointer"><a onclick="verifyTemplateIsSelected('/compose/view-template');">View Template</a></div></li> -->
	</ul>

	<div class="clearer">&nbsp;</div>

	</div>

      </div>
    </div>
</div>

<div id="content-wrapper">
	<div class="center-wrapper">
		
		<div class="content" id="content-two-columns">

		  <div id="main-wrapper">
		    <div id="main">

		      <div class="post">

			<div class="post-title"><h1>Start Template</h1></div>
			
			<div class="post-body">

			  <!--<p><img src="sample-thumbnail-2.jpg" width="640" height="200" alt="" class="bordered" /></p>

			      <h2 class="quiet">Introducing the next generation software</h2> -->
			  
			  <p class="large">Select a new or existing start template from the following table to start composing. Once you make your selection, click on "Compose Template" to proceed.  It will automatically load the appropriate template and display it on the next page.</p>



			</div>
			
		      </div>
			
		      <div id="template_selection">
		      
{% if request.session.currentComposeTemplateID %} 

{% else %}

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <i class="icon warning disable-selection"></i> No template selected. Select one in the table below. 
</div>

{% endif %}
<div style="text-align: center; font-size: 18px;">Global Templates</div>
<br/>
<table class="table table-bordered">
  <tr>
    <th>Template name</th>
    <th>File name</th>
    <th width="200">Actions</th>
  </tr>
			  
  <tr class="{{ rowcolors }}">
    <td templateID='new'>New Base Template</td>
    <td>new_base_template.xsd</td>
    {% if request.session.currentComposeTemplateID == "new" %} 
    <td><span style="color:green;font-weight:bold">Current template</span></td>
    {% else %}
    <td><button class="btn set-compose-template" ><i class="icon-plus-sign"></i> Select as start template</button></td>
    {% endif %}
  </tr>

{% for template, isDeleted in templates.items %}
  
    {% if isDeleted == False %}
    {% cycle 'even' '' as rowcolors silent %} 
  <tr class="{{ rowcolors }}">
    <td templateID='{{template.id}}'>{{ template.title }}</td>
    <td>{{ template.filename }}</td>

{% if request.session.currentComposeTemplateID == template.id|stringformat:"s" %} 

    <td><span style="color:green;font-weight:bold">Current template</span></td>

{% else %}

    <td><button class="btn set-compose-template" ><i class="icon-plus-sign"></i> Set as current template</button></td>

{% endif %}

  </tr>
  
{% endif %}

{% endfor %}

</table>


<div style="text-align: center; font-size: 18px;">User Defined Templates</div>
<br/>
{% if userTemplates %}
<table class="table table-bordered">
  <tr>
    <th>Template name</th>
    <th width="200">Actions</th>
  </tr>
{% for template in userTemplates %}
  {% cycle 'even' '' as rowcolors silent %}
  <tr class="{{ rowcolors }}">
    <td templateID='{{template.id}}'>{{ template.title }}</td>

{% if request.session.currentComposeTemplateID == template.id|stringformat:"s" %} 

    <td><span style="color:green;font-weight:bold">Current template</span></td>

{% else %}

    <td><button class="btn set-compose-user-template" ><i class="icon-plus-sign"></i> Set as current template</button></td>    

{% endif %}

  </tr>  

{% endfor %}
</table>

{%else%}

<div style="color:grey;">Create your own templates using the <a href="/compose">Composer</a> and you will be able to use them from this section.</div>

{% endif %}

<div id="dialog-message" title="Template Loaded" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Template selected successfully. 
  </p>
  <p>
    Currently using {{ request.session.currentComposeTemplate }}
  </p>
  <p>
    To proceed to the next step, click on step 2: <b>'Enter Data'</b>
  </p>
</div>

<div id="dialog-error-message" title="Template Loaded" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Please select a template first.
  </p>
</div>


</div>


		    </div>
		  </div>

<script>
selectedLink = "/compose";

verifyTemplateIsSelected = function(selectedLink_)
{
    console.log('BEGIN [verifyTemplateIsSelected]');

    selectedLink = selectedLink_;
    Dajaxice.compose.verifyTemplateIsSelected(verifyTemplateIsSelectedCallback); // Dajax.process);

    console.log('END [verifyTemplateIsSelected]');
}

verifyTemplateIsSelectedCallback = function(data)
{
    console.log('BEGIN [verifyTemplateIsSelectedCallback]');

    if (data.templateSelected == 'no') {
        $(function() {
            $( "#dialog-error-message" ).dialog({
                modal: true,
                buttons: {
                    Ok: function() {
                    $( this ).dialog( "close" );
                    }
                }
            });
        });
    } else {
        location.href = selectedLink;
    }

    console.log('END [verifyTemplateIsSelectedCallback]');
}

</script>


		  <div id="sidebar-wrapper">
		    <div id="sidebar">

		      <div class="box" ><!--"floatMenu">-->

			<div class="box-title">Composer</div>

			<div class="box-content">
			  <ul class="nice-list">
			    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'img/Orange_Number_1.png' %}"></td><td><strong><a href="/compose/select-template">Start Template</a></strong></td></tr></table></li>
			    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'img/Orange_Number_2.png' %}"></td><td><div style="cursor:pointer"><a onclick="verifyTemplateIsSelected('/compose/build-template');">Compose Template</a></div></td></tr></table></li>
			  </ul>
			</div>

			</div>
		    </div>
		  </div>

<div class="clearer">&nbsp;</div>

		</div>

	</div>
</div>

<div id="footer-wrapper">

	<div class="center-wrapper">

		<div id="footer2">

			<div class="left">
				<a href="/">Home</a> <span class="text-separator">|</span> <a href="/curate">Data Curation</a> <span class="text-separator">|</span> <a href="/explore">Data Exploration</a> <span class="text-separator">|</span> <a href="/compose">Composer</a><span class="text-separator">|</span> <a href="/contact">Contact</a> 
			</div>

			<div class="right">
				<a href="#">Top ^</a>
			</div>
			
			<div class="clearer">&nbsp;</div>

		</div>

	</div>

</div>

<div id="bottom">

	<div class="center-wrapper">

		<div class="left">
			&copy; 2012 - {{ request.session.currentYear }} Materials Data Curation System <span class="text-separator">|</span> <a href="/privacy-policy">Privacy Policy</a> <span class="text-separator">|</span> <a href="/terms-of-use">Terms of Use</a>  

{% if user.is_staff %}
<span class="text-separator">|</span> <a href="/admin" target="_new">Administration</a> 
{% else %}

{% endif %}
		</div>

		<div class="right">
			<a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a> 
		</div>
		
		<div class="clearer">&nbsp;</div>

	</div>

</div>
	
<script src="{% static 'inc/controllers/js/composer.js' %}"></script>
<script>
	loadTemplateSelectionControllers();
</script>
</body>
</html>
