<!-- 
################################################################################
#
# File Name: contact.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->

{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/lib/bootstrap.min.css' %}"  media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css' %}" media="screen" />
	<title>Materials Data Curation System</title>
</head>

<body id="top">

<div id="header-wrapper">
	<div id="header-wrapper-2">
		<div class="center-wrapper">

			<div id="header">

				<div id="logo">
					<h1 id="site-title"><a href="/">Materials Data <span>Curation System</span></a></h1>
					<h2 id="site-slogan">
{% if user.is_authenticated %}
    Welcome, {{ user.username }}. Thanks for logging in.
{% else %}
    Part of the Materials Genome Initiative
{% endif %}
</h2>
				</div>

				<div id="help-wrapper">
					<div id="help" align="center">
<nobr>
{% if user.is_authenticated %}
    <a href="/logout">Logout</a> 
{% else %}
    <a href="/login">Login</a> 
{% endif %}

<span class="text-separator">|</span> <a href="/my-profile">My Profile</a> <span class="text-separator">|</span> <a href="/help">Help</a> 
</nobr>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div id="navigation-wrapper">
	<div id="navigation-wrapper-2">
		<div class="center-wrapper">
	
			<div id="navigation">

				<ul class="tabbed">
					<li><a href="/">Home</a></li>
					<li><a href="/curate">Data Curation</a></li>
					<li><a href="/explore">Data Exploration</a></li>
					<li class="current_page_item"><a href="/contact">Contact</a></li>
				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

		</div>
	</div>
</div>

<div id="content-wrapper">
	<div class="center-wrapper">
		
		<div class="content">

			<div id="featured-wrapper">
				<div id="featured">

					<div class="left" style="width: 830px">
					
						<h2><span>Contact</span></h2>

					</div>
					<div class="clearer">&nbsp;</div>

<p>

<form action="/contact" method="post">
<p><label for="id_sender_name">Name:</label>
    <input id="id_sender_name" type="text" name="sender_name" maxlength="100" style="border:1px solid grey" /></p>
<p><label for="id_sender_email">Email:</label>
    <input type="email" name="sender_email" id="id_sender_email" style="border:1px solid grey" /></p>
<p><label for="id_sender_email">Message:</label>
    <input type="text" name="sender_message" id="id_sender_message" style="border:1px solid grey" /></p>
<p><label for="id_cc_myself">Cc myself:</label>
    <input type="checkbox" name="cc_myself" id="id_cc_myself" /></p>
<input type="submit" value="Submit" />
</form>

<!--
<form action="/contact" method="post">
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.subject.errors }}
        <label for="id_subject">Email subject:</label>
        {{ form.subject }}
    </div>
    <div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="id_message">Your message:</label>
        {{ form.message }}
    </div>
    <div class="fieldWrapper">
        {{ form.sender.errors }}
        <label for="id_sender">Your email address:</label>
        {{ form.sender }}
    </div>
    <div class="fieldWrapper">
        {{ form.cc_myself.errors }}
        <label for="id_cc_myself">CC yourself?</label>
        {{ form.cc_myself }}
    </div>
    <p><input type="submit" value="Send message" /></p>
</form>
-->

				</div>
			</div>

		</div>

	</div>
</div>

<div id="footer-wrapper">

	<div class="center-wrapper">

		<div id="footer2">

			<div class="left">
				<a href="/">Home</a> <span class="text-separator">|</span> <a href="/curate">Data Curation</a> <span class="text-separator">|</span> <a href="/explore">Data Exploration</a> <span class="text-separator">|</span> <a href="/about">About</a> 
			</div>

			<div class="right">
				<a href="#">Top ^</a>
			</div>
			
			<div class="clearer">&nbsp;</div>

		</div>

	</div>

</div>

<div id="bottom">

	<div class="center-wrapper">

		<div class="left">
			&copy; 2012 - {{ request.session.currentYear }} Materials Data Curation System <span class="text-separator">|</span> <a href="/privacy-policy">Privacy Policy</a> <span class="text-separator">|</span> <a href="/terms-of-use">Terms of Use</a> 
{% if user.is_staff %}
<span class="text-separator">|</span> <a href="/admin" target="_new">Administration</a> 
{% else %}

{% endif %}
		</div>

		<div class="right">
			<a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a> 
		</div>
		
		<div class="clearer">&nbsp;</div>

	</div>

</div>

</body>
</html>
