<!-- 
################################################################################
#
# File Name: contact.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->

{% load staticfiles %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/lib/bootstrap.min.css' %}"  media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css' %}" media="screen" />
	<title>Materials Data Curation System</title>
	<!-- JQuery & JQuery UI -->
	<script src="{% static 'resources/lib/jquery/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'resources/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'resources/lib/jquery-ui/themes/smoothness/jquery-ui.css' %}"/>        
    <script src="{% static 'resources/lib/jquery-ui/themes/smoothness/jquery-ui.js' %}"></script>

</head>

<body id="top">

<div id="header-wrapper">
	<div id="header-wrapper-2">
		<div class="center-wrapper">

			<div id="header">

				<div id="logo">
					<h1 id="site-title"><a href="/">Materials Data <span>Curation System</span></a></h1>
					<h2 id="site-slogan">
{% if user.is_authenticated %}
    Welcome, {{ user.username }}. Thanks for logging in.
{% else %}
    Part of the Materials Genome Initiative
{% endif %}
</h2>
				</div>

				<div id="help-wrapper">
					<div id="help" align="center">
<nobr>
{% if user.is_authenticated %}
    <a href="/logout">Logout</a> 
{% else %}
    <a href="/login">Login</a> 
{% endif %}

<span class="text-separator">|</span> <a href="/my-profile">My Profile</a> <span class="text-separator">|</span> <a href="/help">Help</a> 
</nobr>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div id="navigation-wrapper">
	<div id="navigation-wrapper-2">
		<div class="center-wrapper">
	
			<div id="navigation">

				<ul class="tabbed">
					<li><a href="/">Home</a></li>
					<li><a href="/curate">Data Curation</a></li>
					<li><a href="/explore">Data Exploration</a></li>
					<li><a href="/compose">Composer</a></li>
					<li class="current_page_item"><a href="/contact">Contact</a></li>
				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

		</div>
	</div>
</div>


<div id="content-wrapper">
	<div class="center-wrapper">
		
		<div class="content">

			<div id="featured-wrapper">
				<div id="featured">

					<div class="left" style="width: 830px">
					
						<h2><span>Contact</span></h2>

					</div>
					<div class="clearer">&nbsp;</div>

				<div>
				<br/>
				<style>
				textarea {
    				width: 700px;
				}
				</style>
				<form action="/contact" method="post">
				 	{% csrf_token %}
				    {{ form }}
				    <br/>
				    <div id="contact_error" style="font-weight: bold;">
				    {{action_result}}
				    </div>
				    <input type="submit" class="btn" value="Send Message"/>
				</form>
				</div>

				</div>
			</div>

		</div>

	</div>
</div>

<div id="footer-wrapper">

	<div class="center-wrapper">

		<div id="footer2">

			<div class="left">
				<a href="/">Home</a> <span class="text-separator">|</span> <a href="/curate">Data Curation</a> <span class="text-separator">|</span> <a href="/explore">Data Exploration</a> <span class="text-separator">|</span> <a href="/compose">Composer</a><span class="text-separator">|</span> <a href="/contact">Contact</a>
			</div>

			<div class="right">
				<a href="#">Top ^</a>
			</div>
			
			<div class="clearer">&nbsp;</div>

		</div>

	</div>

</div>

<div id="bottom">

	<div class="center-wrapper">

		<div class="left">
			&copy; 2012 - {{ request.session.currentYear }} Materials Data Curation System <span class="text-separator">|</span> <a href="/privacy-policy">Privacy Policy</a> <span class="text-separator">|</span> <a href="/terms-of-use">Terms of Use</a> 
{% if user.is_staff %}
<span class="text-separator">|</span> <a href="/admin" target="_new">Administration</a> 
{% else %}

{% endif %}
		</div>

		<div class="right">
			<a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a> 
		</div>
		
		<div class="clearer">&nbsp;</div>

	</div>

</div>

</body>
</html>
