<!-- 
################################################################################
#
# File Name: curate_select_hdf5.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
# 		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
<form action="/curate/upload-spreadsheet" method="post" id="file-upload-form" enctype="multipart/form-data"> 
	{% csrf_token %}
	<input type='file' id='excelSpreadsheet' name='excelSpreadsheet'></input>
	<button class='btn' type="submit" id='uploadSpreadsheet' >Upload</button>
</form>