<!-- 
################################################################################
#
# File Name: curate_view_data.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% extends "base2.html" %}
{% load staticfiles %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.add.css' %}"  media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/XMLTree.css' %}" media="screen" />
{% endblock %}
{% block extrahead %}
<script src="{% static 'inc/controllers/js/XMLTree.js' %}"></script>
{% endblock %}
{% block title %}<h1>View Data</h1>{% endblock %}
{% block description %}This is a preview of the curated data in XML format. As part of this demo, please save your data to the repository so that we can better evaluate our system. You can also click the download button for a copy on your local machine.{% endblock %}

{% block menu %}{% include 'menu.html' with active_tab='tab2' %}{% endblock %}
{% block submenu %}
<ul class="tabbed">
	<li><a href="/curate/select-template">Select Template</a></li>
	<li><a href="/curate/enter-data">Enter Data</a></li>
	<li class="current_page_item"><a href="/curate/view-data">View Data</a></li>
</ul>
{% endblock %}


{% block content %}
	      
<div class="btn-group pull-right">
	<button class="btn download-xml"><i class="icon-arrow-down"></i> Download XML</button>
	<button class="btn save-to-repo"><i class="icon-star"></i> Save to repository</button>
</div>
		      

<div class="clearer">&nbsp;</div>

<div id="XMLHolder"></div>

<br/><br/>

{% endblock %}

{% block sidebar %}
<div class="box">
	<div class="box-title">Data Curation</div>
	<div class="box-content">
		<ul class="nice-list">
			<li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_1.png' %}"></td><td><a href="/curate/select-template">Select Template</a></td></tr></table></li>
			<li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_2.png' %}"></td><td><a href="/curate/enter-data">Enter Data</a></td></tr></table></li>
			<li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_3.png' %}"></td><td><strong><a href="/curate/view-data">View Data</a></strong></td></tr></table></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block extra %}
<script src="{% static 'inc/controllers/js/curate.js' %}"></script>
<script>
verifyTemplateIsSelectedViewData();
</script>

<div id="dialog-downloaded-message" title="Download Complete" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    XML File Downloaded.
  </p>
  <p>
    Currently using <a href="/view-schema/{{ request.session.currentTemplate }}" target="_new">{{ request.session.currentTemplate }}</a>
  </p>
</div>


<div id="dialog-save-data-message" title="Save to Repository" style="display:none;">
Are you sure you want to save this document?
</div>

<div id="dialog-saved-message" title="XML Data Saved" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Save to repository successful.
  </p>
</div>

<div id="dialog-save-error-message" title="XML Data Error" style="display:none;">
<p></p>
  <div id="saveErrorMessage">
  </div>
</div>

{% endblock %}
