<!-- 
################################################################################
#
# File Name: curate_upload_successful.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
# 		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->

<p>
File Upload Successful.
</p>
<p>
Please click on 'Done' to save the spreadsheet in your XML document.
</p>
