<!-- 
################################################################################
#
# File Name: curate_enter_data.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
# 		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->

{% load staticfiles %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/lib/bootstrap.min.css' %}"  media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css' %}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/icons.css' %}"  media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/XMLTreeCurator.css' %}" media="screen" />
	
	<title>Materials Data Curation System</title>

	<!-- JQuery & JQuery UI -->
	<script src="{% static 'resources/lib/jquery/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'resources/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'resources/lib/jquery-ui/themes/smoothness/jquery-ui.css' %}"/>        
    <script src="{% static 'resources/lib/jquery-ui/themes/smoothness/jquery-ui.js' %}"></script>
	<script src="{% static 'inc/controllers/js/XMLTreeCurator.js' %}"></script>
	<script src="{% static 'inc/controllers/js/csrf.js' %}"></script>


</head>

<body id="top">

<div id="header-wrapper">
	<div id="header-wrapper-2">
		<div class="center-wrapper">

			<div id="header">

				<div id="logo">
					<h1 id="site-title"><a href="/">Materials Data <span>Curation System</span></a></h1>
					<h2 id="site-slogan">
{% if user.is_authenticated %}
    Welcome, {{ user.username }}. Thanks for logging in.
{% else %}
    Part of the Materials Genome Initiative
{% endif %}
</h2>
				</div>

				<div id="help-wrapper">
					<div id="help" align="center">
<nobr>
{% if user.is_authenticated %}
    <a href="/logout">Logout</a> 
{% else %}
    <a href="/login">Login</a> 
{% endif %}

<span class="text-separator">|</span> <a href="/my-profile">My Profile</a> <span class="text-separator">|</span> <a href="/help">Help</a> 
</nobr>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div id="navigation-wrapper">
	<div id="navigation-wrapper-2">
		<div class="center-wrapper">
	
			<div id="navigation">

				<ul class="tabbed">
					<li><a href="/">Home</a></li>
					<li class="current_page_item"><a href="/curate">Data Curation</a></li>
					<li><a href="/explore">Data Exploration</a></li>
					<li><a href="/compose">Composer</a></li>
				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

		</div>
	</div>
</div>

<div id="subnav-wrapper">
  <div id="subnav-wrapper-2">

    <div class="center-wrapper">
      
      <div id="subnav">

	<ul class="tabbed">
	  <li><a href="/curate/select-template">Select Template</a></li>
	  <li class="current_page_item"><a href="/curate/enter-data">Enter Data</a></li>
	  <li><a onclick="validateXML();" style="cursor: pointer;">View Data</a></li>
	  </ul>

	<div class="clearer">&nbsp;</div>

	</div>

      </div>
    </div>
</div>

<div id="content-wrapper">
	<div class="center-wrapper">
		
		<div class="content" id="content-two-columns">

		  <div id="main-wrapper">
		    <div id="main">

		      <div class="post">

			<div class="post-title"><h1>Data Entry</h1></div>
			
			<div class="post-body">

			  <p class="large">Here you can fill in the Material Data form. Once it is completed, you can view the data you have entered.</p>
			  
			  
			  </div>
			
			</div>

<div class="message"></div>
<div class="toolbar">


  <div class="btn-group pull-right">
    <button class="btn clear-fields"><i class="icon-file"></i> Clear fields </button>
    <button class="btn load-form"><i class="icon-folder-open"></i> Load form </button>
    <button class="btn save-form"><i class="icon-hdd"></i> Save form </button>
    <button class="btn download"><i class="icon-arrow-down"></i> Download </button>
  </div>


<br/><br/>

<div id="xsdForm">


</div>

		      </div>
</div>

		    </div>

		  <div id="sidebar-wrapper">
		    <div id="sidebar">

		      <div class="box">

			<div class="box-title">Data Curation</div>

			<div class="box-content">
			  <ul class="nice-list">
			    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'img/Orange_Number_1.png' %}"></td><td><a href="/curate/select-template">Select Template</a></td></tr></table></li>
			    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'img/Orange_Number_2.png' %}"></td><td><strong><a href="/curate/enter-data">Enter Data</a></strong></td></tr></table></li>
			    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'img/Orange_Number_3.png' %}"></td><td><a style="cursor:pointer;" onclick="validateXML();">View Data</a></td></tr></table></li>
			    </ul>
			  </div>

			</div>
		    </div>
		  </div>

<div class="clearer">&nbsp;</div>

		</div>

	</div>
</div>

<div id="footer-wrapper">

	<div class="center-wrapper">

		<div id="footer2">

			<div class="left">
				<a href="/">Home</a> <span class="text-separator">|</span> <a href="/curate">Data Curation</a> <span class="text-separator">|</span> <a href="/explore">Data Exploration</a> <span class="text-separator">|</span> <a href="/compose">Composer</a><span class="text-separator">|</span> <a href="/contact">Contact</a> 
			</div>

			<div class="right">
				<a href="#">Top ^</a>
			</div>
			
			<div class="clearer">&nbsp;</div>

		</div>

	</div>

</div>

<div id="bottom">

	<div class="center-wrapper">

		<div class="left">
			&copy; 2012 - {{ request.session.currentYear }} Materials Data Curation System <span class="text-separator">|</span> <a href="/privacy-policy">Privacy Policy</a> <span class="text-separator">|</span> <a href="/terms-of-use">Terms of Use</a> 
{% if user.is_staff %}
<span class="text-separator">|</span> <a href="/admin" target="_new">Administration</a> 
{% else %}

{% endif %}
		</div>

		<div class="right">
			<a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a> 
		</div>
		
		<div class="clearer">&nbsp;</div>

	</div>

</div>

	<script src="{% static 'inc/controllers/js/curate.js' %}"></script>
	<script>
	verifyTemplateIsSelectedCurateEnterData();
	</script>


<div id="dialog-cleared-message" title="Fields Cleared" style="display:none;">
<p></p>
  <p>
    Are you sure you want to reset the form?
  </p>
</div>


<div id="dialog-load-form-message" title="Load Form" style="display:none;">
<p></p>
  <p>
    Select Form to Load:
    <select id="listOfForms"><option value="none">None Exist</select>
  </p>
<!--  <p>
    Currently using <a href="/view-schema/{{ request.session.currentTemplate }}" target="_new">{{ request.session.currentTemplate }}</a>
  </p>
-->
</div>


<div id="dialog-form-loaded-message" title="Form Loaded" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Form is loaded.
  </p>
<!--  <p>
    Currently using <a href="/view-schema/{{ request.session.currentTemplate }}" target="_new">{{ request.session.currentTemplate }}</a>
  </p>
-->
</div>


<div id="dialog-save-as-message" title="Save Form" style="display:none;">
<p></p>
<!--  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Save form
  </p>
-->
  <p>
    Save As: <input type="text" size="30" id="saveAsInput">
  </p>
  <p id="saveAsErrorMessage"></p>
</div>

<div id="dialog-saved-message" title="Form Saved" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Form fields are saved.
  </p>
<!--  <p>
    Currently using <a href="/view-schema/{{ request.session.currentTemplate }}" target="_new">{{ request.session.currentTemplate }}</a>
  </p>
-->
</div>

<div id="dialog-download-options" title="Download Options" style="display:none;">
<p></p>
<p>
  <div class="btn-group">
    <button class="btn download-xsd" onclick="downloadXSD();"><i class="icon-arrow-down"></i> Download Schema</button>
  </div>
<br/>
</p>
</div>

<div id="dialog-select-element" title="Select Element" style="display:none;">
<p></p>
<p>
<div id="periodicTable"></div>
<br/>
<div id="chosenElement">Chosen Element: <b id="selectedElement">None</b></div>
</p>
</div>

<style>
#tableChosenElements{
   border: 1px solid black;
}
 
#tableChosenElements th{
   border: 1px solid black;
   width:50px;
   text-align:center;
}

#tableChosenElements td{
   border: 1px solid black;
   width:50px;
   text-align:center;
}

#tableChosenElements input{
	width:90%;
}

</style>

<div id="dialog-select-element-multiple" title="Select Elements" style="display:none;">
<p></p>
<p>
	<div id="periodicTableMultiple"></div>
</p>
<hr/>
<div id="chosenMultipleElements">
	<table id="tableChosenElements">
		<tr>
			<th>Element</th>
			<th>Quantity</th>
			<th>Purity</th>
			<th>Error</th>
			<th>Actions</th>
		</tr>
		<tr>
			<td colspan="5" style="text-align:center; color:red;">No selected elements.</td>
		</tr>
	</table>
</div>
</div>

<div id="dialog-select-hdf5file" title="Upload Spreadsheet File" style="display:none;">
<iframe src="/curate/select-hdf5file">
</iframe>	
</div>
 

<div id="dialog-save-error-message" title="XML Data Error" style="display:none;">
<p></p>
  <div id="saveErrorMessage">
  </div>
</div>

<div id="modules">
</div>

</body>
</html>
