<!-- 
################################################################################
#
# File Name: explore.html
# Application: templates
# Description: This is the main explore template used by the system.  A user
#              would begin here and use it to select a template/schema.
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume Sousa Amaral
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% extends "base2.html" %}
{% load staticfiles %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.add.css' %}"  media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/exploreTabs.css' %}"  media="screen" />
{% endblock %}

{% block title %}<h1>Select Template</h1>{% endblock %}

{% block description %}Select a template from the following table. Once you make your selection, click on "Select Fields" to proceed.  It will automatically load the appropriate form and display it on the next page.{% endblock %}

{% block menu %}{% include 'menu.html' with active_tab='tab3' %}{% endblock %}

{% block submenu %}	
<ul id="subnav-tab-1" class="tabbed">
  <li class="current_page_item"><a href="/explore/select-template">Select Template</a></li>
  <li><div style="cursor:pointer"><a onclick="verifyTemplateIsSelected('/explore/customize-template');">Select Fields</a></div></li>
  <li><div style="cursor:pointer"><a onclick="verifyTemplateIsSelected('/explore/perform-search');">Perform Search</a></div></li>
</ul>
<ul id="subnav-tab-2" class="tabbed" style="display: none;">
  <li class="current_page_item"><a href="/explore/select-template">Select Template</a></li>
  <li><div style="cursor:pointer"><a onclick="verifyTemplateIsSelected('/explore/customize-template');">Select Fields</a></div></li>
  <li><div style="cursor:pointer"><a onclick="verifyTemplateIsSelected('/explore/perform-search');">Perform Search</a></div></li>
</ul>
{% endblock %}	


{% block content %}

<div id="template_selection">
		      
{% if request.session.exploreCurrentTemplate %} 

{% else %}

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <i class="icon warning disable-selection"></i> No template selected. Select one in the table below. 
</div>

{% endif %}
<div style="text-align: center; font-size: 18px;">Global Templates</div>
<br/>
<table class="table table-bordered">
  <tr>
    <th>Template name</th>
    <!--th>Description</th-->
    <th>File name</th>
    <th width="200">Actions</th>
  </tr>
{% for template, isDeleted in templates.items %}  
  {% if isDeleted == False %} 
  {% cycle 'even' '' as rowcolors silent %}
  <tr class="{{ rowcolors }}">
    <td templateID='{{template.id}}'>{{ template.title }}</td>
    <td>{{ template.filename }}</td>

{% if request.session.exploreCurrentTemplateID == template.id|stringformat:"s" %} 

    <td><span style="color:green;font-weight:bold">Current template</span></td>

{% else %}

    <td><button class="btn set-explore-template" ><i class="icon-plus-sign"></i> Set as current template</button></td>

    <!-- <td>'.($current_filename==$file?'<span style="color:green;font-weight:bold">Current template</span>':'<button class="btn set-template"><i class="icon-plus-sign"></i> Set as current template</button>').'</td> -->

{% endif %}

  </tr>
 {% endif %}

{% endfor %}

</table>

<div style="text-align: center; font-size: 18px;">User Defined Templates</div>
<br/>
{% if userTemplates %}
<table class="table table-bordered">
  <tr>
    <th>Template name</th>
    <th width="200">Actions</th>
  </tr>
{% for template in userTemplates %}
  {% cycle 'even' '' as rowcolors silent %}
	<tr class="{{ rowcolors }}">
		<td templateID='{{template.id}}'>{{ template.title }}</td>
{% if request.session.exploreCurrentTemplateID == template.id|stringformat:"s" %} 
    	<td><span style="color:green;font-weight:bold">Current template</span></td>
{% else %}
    	<td><button class="btn set-explore-user-template" ><i class="icon-plus-sign"></i> Set as current template</button></td>    
{% endif %}
	</tr>  
{% endfor %}
</table>

{%else%}

<div style="color:grey;">Create your own templates using the <a href="/compose">Composer</a> and you will be able to use them from this section.</div>

{% endif %}
</div>
{% endblock %}


{% block sidebar %}
<div class="box">
	<div class="box-title">Data Exploration</div>
	<div id="explore-tabs">
		<div class="tab">
		    <input type="radio" id="tab-1" name="tab-group-1">
		    <label for="tab-1" onclick="switchTab('tab-1')"><nobr>Query by Example</nobr></label>
		    
		    <div class="content">
		        <div class="box-content">
				  <ul class="nice-list">
				    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_1.png' %}"></td><td><strong><nobr><a href="/explore/select-template">Select Template</a></nobr></strong></td></tr></table></li>
				    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_2.png' %}"></td><td><nobr><a onclick="verifyTemplateIsSelected('/explore/customize-template');" style="cursor: pointer;">Select Fields</a></nobr></td></tr></table></li>
				    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_3.png' %}"></td><td><nobr><a onclick="verifyTemplateIsSelected('/explore/perform-search');" style="cursor: pointer;">Perform Search</a></nobr></td></tr></table></li>
				  </ul>
				</div>	
		    </div> 
		</div>
				
		<div class="tab">		  
	       <input type="radio" id="tab-2" name="tab-group-1" disabled>
	       <!-- <label for="tab-2" onclick="switchTab('tab-2')" ><nobr>SPARQL Endpoint</nobr></label> -->
	       <label for="tab-2" style="color:grey;"><nobr>SPARQL Endpoint</nobr></label>	      	      
	       <div class="content">
	           <div class="box-content">
				  <ul class="nice-list">
				    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_1.png' %}"></td><td><strong><nobr><a href="/explore/select-template">Select Template</a></nobr></strong></td></tr></table></li>
				    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_2.png' %}"></td><td><nobr><a onclick="verifyTemplateIsSelected('/explore/customize-template');" style="cursor: pointer;">Select Fields</a></nobr></td></tr></table></li>						    
				    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'resources/img/Orange_Number_3.png' %}"></td><td><nobr><a onclick="verifyTemplateIsSelected('/explore/perform-search');" style="cursor: pointer;">Perform Search</a></nobr></td></tr></table></li> 
				  </ul>
				</div>	
	       </div> 
	   </div>
	</div>
</div>
{% endblock %}

{% block extra %}
<script src="{% static 'inc/controllers/js/explore.js' %}"></script>
<script>
  loadTemplateSelectionControllers();
</script>
<div id="dialog-message" title="Template Loaded" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Template selected successfully. 
  </p>
  <p>
    Currently using {{ request.session.exploreCurrentTemplate }}
  </p>
  <p>
    To proceed to the next step, click on step 2: <b>'Select Fields'</b>
  </p>
</div>

<div id="dialog-error-message" title="Template Loaded" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Please select a template first.
  </p>
</div>
{% endblock %}

