<!-- 
################################################################################
#
# File Name: explore_perform_search.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume Sousa Amaral
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->

{% load staticfiles %}

{% load dajaxice_templatetags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/lib/bootstrap.min.css' %}"  media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.add.css' %}"  media="screen" />
	<link media="screen" href="/static/resources/css/icons.css" type="text/css" rel="stylesheet"></link>
	<link media="screen" href="/static/resources/css/queryForm.css" type="text/css" rel="stylesheet"></link>
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/exploreTabs.css' %}"  media="screen" />
	<title>Materials Data Curation System</title>
	<!-- JQuery & JQuery UI -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="{% static 'dajax/jquery.dajax.core.js' %}"></script>
	{% dajaxice_js_import %}
</head>

<body id="top">

<div id="header-wrapper">
	<div id="header-wrapper-2">
		<div class="center-wrapper">

			<div id="header">

				<div id="logo">
					<h1 id="site-title"><a href="#">Materials Data <span>Curation System</span></a></h1>
					<h2 id="site-slogan">
{% if user.is_authenticated %}
    Welcome, {{ user.username }}. Thanks for logging in.
{% else %}
    Part of the Materials Genome Initiative
{% endif %}
</h2>
				</div>

				<div id="help-wrapper">
					<div id="help" align="center">
<nobr>
{% if user.is_authenticated %}
    <a href="/logout">Logout</a> 
{% else %}
    <a href="/login">Login</a> 
{% endif %}

<span class="text-separator">|</span> <a href="/my-profile">My Profile</a> <span class="text-separator">|</span> <a href="/help">Help</a> 
</nobr>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div id="navigation-wrapper">
	<div id="navigation-wrapper-2">
		<div class="center-wrapper">
	
			<div id="navigation">

				<ul class="tabbed">
					<li><a href="/">Home</a></li>
					<li><a href="/curate">Data Curation</a></li>
					<li class="current_page_item"><a href="/explore">Data Exploration</a></li>
				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

		</div>
	</div>
</div>

<div id="subnav-wrapper">
  <div id="subnav-wrapper-2">

    <div class="center-wrapper">
      
      <div id="subnav">

	{% if request.session.currentExploreTab == "tab-1" %}	
	<ul id="subnav-tab-1" class="tabbed">
	  <li><a href="/explore/select-template">Select Template</a></li>
	  <li><a href="/explore/customize-template">Customize Template</a></li>
	  <li class="current_page_item"><a href="/explore/perform-search">Perform Search</a></li>
  	</ul>
  	<ul id="subnav-tab-2" class="tabbed" style="display: none;">
	  <li><a href="/explore/select-template">Select Template</a></li>
	  <li><a href="/explore/customize-template">Customize Template</a></li>	 
	  <li class="current_page_item"><a href="/explore/perform-search">Perform Search</a></li> 
	</ul>
  	{% else %}
  	<ul id="subnav-tab-1" class="tabbed" style="display: none;">
	  <li><a href="/explore/select-template">Select Template</a></li>
	  <li><a href="/explore/customize-template">Customize Template</a></li>
	  <li class="current_page_item"><a href="/explore/perform-search">Perform Search</a></li>
  	</ul>
	<ul id="subnav-tab-2" class="tabbed">
	  <li><a href="/explore/select-template">Select Template</a></li>	
	  <li><a href="/explore/customize-template">Customize Template</a></li> 
	  <li class="current_page_item"><a href="/explore/perform-search">Perform Search</a></li> 	
	</ul>
	{% endif %}
	

	<div class="clearer">&nbsp;</div>

	</div>

      </div>
    </div>
</div>



<div id="content-wrapper">
	<div class="center-wrapper">	
		<div class="content" id="content-two-columns">
			<div id="main-wrapper">
	    		<div id="main">
	    			<div class="post">
						<div class="post-title"><h1>Perform Search</h1></div>
						<div class="post-body">
			  				<!--<p><img src="sample-thumbnail-2.jpg" width="640" height="200" alt="" class="bordered" /></p>
							<h2 class="quiet">Introducing the next generation software</h2> -->
	  						{% if request.session.currentExploreTab == "tab-1" %}	
							<p id="QbEDesc" class="large">Click on a field of the Query Builder to add an element to your query. The custom tree defined in Step 2 will appear and you will be able to select one of the hilighted elements. Click on plus/minus buttons to add/remove criteria. You can save queries to build more complex queries and you will retrieve them on your next connection. When your query is done, please click on Execute Query to get XML documents that match the criterias.</p>
							<p id="SPARQLDesc" class="large" style="display: none;">Write a SPARQL query into the text field and submit the query to get the results.</p>
							{% else %}
							<p id="QbEDesc" class="large" style="display: none;">Click on a field of the Query Builder to add an element to your query. The custom tree defined in Step 2 will appear and you will be able to select one of the hilighted elements. Click on plus/minus buttons to add/remove criteria. You can save queries to build more complex queries and you will retrieve them on your next connection. When your query is done, please click on Execute Query to get XML documents that match the criterias.</p>
							<p id="SPARQLDesc" class="large">Write a SPARQL query into the text field and submit the query to get the results.</p>
							{% endif %}
						</div>
					</div>
		      		{% if request.session.currentExploreTab == "tab-1" %}
					<div id="queryBuilder">
					{% else %}
					<div id="queryBuilder" style="display: none;">
					{% endif %}
						<h2>Query Builder</h2>		
						<div id="queryForm">
						    <form>
						        <p id="crit0">
						            <select>
						              <option value=""></option>
						              <option value="NOT">NOT</option>
						            </select> 
						            <input onclick="showCustomTree('crit0')" readonly="readonly" type="text" class="elementInput"/>
						            <span id="ui0">
						            </span>                
						            <span class="icon add" onclick="addField()"></span>                                 
						        </p>        
						        <span class="btn" onclick="saveQuery()">Save Query</span>
						        <span class="btn" onclick="clearCriterias()">Clear</span>    
						        <span class="btn" onclick="query()">Execute Query !</span>           
						    </form>                        
						</div>
						<hr>
						<div id="queries">
						    <p>
						    	<h2>Saved Queries</h2>
						        <form>                
						            <span class="btn" onclick="clearQueries()">Clear</span>   
						        </form>
						    </p>
						    <div id="queriesTable">
						        <table>
						            <tr>	                
						                <th width="15px">Add to Builder</th>
						                <th>Queries</th>
						                <th width="15px">Delete</th>
						            </tr>                
						        </table>
						    </div>            
						</div>
					</div>
					<!--
					{% if request.session.currentExploreTab == "tab-1" %}
					<div id="customForm">
					{% else %}
					<div id="customForm" style="display: none;">
					{% endif %}
					</div>
					 -->					 
					{% if request.session.currentExploreTab == "tab-2" %}
					<div id="SPARQLqueryBuilder">
					{% else %}
					<div id="SPARQLqueryBuilder" style="display: none;">
					{% endif %}
						<span><strong>Template ID:</strong> {{request.session.exploreCurrentTemplateID }}</span><br/>
						<!--<span><strong>Suggested prefix:</strong> PREFIX {{ request.session.exploreCurrentTemplate }}:&#60;http://www.example.com/{{request.session.exploreCurrentTemplateID }}&#62;</span><br/>-->
						<span><strong>Suggested prefix:</strong> PREFIX tpl:&#60;http://www.example.com/{{request.session.exploreCurrentTemplateID }}#&#62;</span><br/>
						<span><strong>Get the value of a field using:</strong> ?s rdf:value ?o</span><br/>
						<span><strong>RDF prefix:</strong> PREFIX rdf: &#60;http://www.w3.org/1999/02/22-rdf-syntax-ns#&#62;</span><br/> 						
						<form>
							<textarea class="SPARQLTextArea">PREFIX rdf: &#60;http://www.w3.org/1999/02/22-rdf-syntax-ns#&#62;
PREFIX tpl:&#60;http://www.example.com/{{request.session.exploreCurrentTemplateID }}#&#62;
SELECT * 
WHERE {?s ?p ?o}</textarea>							
							<span class="btn" onclick="sparqlquery()">Submit Query !</span>
							<span class="btn" onclick="getElementPath()">Get an Element !</span>
						</form>
					</div>					
				</div>
	  		</div>
			<div id="sidebar-wrapper">
		    	<div id="sidebar">
		      		<div class="box">

			<div class="box-title">Data Exploration</div>

			<div id="explore-tabs">
				
				<div class="tab">
					{% if request.session.currentExploreTab == "tab-1" %}
				    <input type="radio" id="tab-1" name="tab-group-1" checked>
				    {% else %}
				    <input type="radio" id="tab-1" name="tab-group-1">
				    {% endif %}
				    <label for="tab-1" onclick="switchTab('tab-1')">Query by Example</label>
			
				    <div class="content">
				        <div class="box-content">
						  <ul class="nice-list">
						    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'img/Orange_Number_1.png' %}"></td><td><a href="/explore/select-template">Select Template</a></td></tr></table></li>
						    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'img/Orange_Number_2.png' %}"></td><td><a href="/explore/customize-template">Customize Template</a></td></tr></table></li>
						    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'img/Orange_Number_3.png' %}"></td><td><strong><a href="/explore/perform-search">Perform Search</a></strong></td></tr></table></li>
						  </ul>
						</div>	
				    </div> 
				</div>
				
				<div class="tab">
				   {% if request.session.currentExploreTab == "tab-2" %}
			       <input type="radio" id="tab-2" name="tab-group-1" checked>
			       {% else %}
			       <input type="radio" id="tab-2" name="tab-group-1">
			       {% endif %}
			       <label for="tab-2" onclick="switchTab('tab-2')">SPARQL Endpoint</label>
			       	    
				    <div class="content">
			           <div class="box-content">
						  <ul class="nice-list">
						    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'img/Orange_Number_1.png' %}"></td><td><a href="/explore/select-template">Select Template</a></td></tr></table></li>
						    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'img/Orange_Number_2.png' %}"></td><td><a href="/explore/customize-template">Customize Template</a></td></tr></table></li>						    
						    <li><table><tr><td width="40"><img width="40" height="40" valign="center" src="{% static 'img/Orange_Number_3.png' %}"></td><td><strong><a href="/explore/perform-search">Perform Search</a></strong></td></tr></table></li>
						  </ul>
						</div>	
			       </div> 
			   </div>
			   
			</div>


			</div>
		    </div>
		  </div>

<div class="clearer">&nbsp;</div>

  		</div>
	</div>
</div>

<div id="footer-wrapper">

	<div class="center-wrapper">

		<div id="footer2">

			<div class="left">
				<a href="/">Home</a> <span class="text-separator">|</span> <a href="/curate">Data Curation</a> <span class="text-separator">|</span> <a href="/explore">Data Exploration</a> <span class="text-separator">|</span> <a href="/about">About</a> <span class="text-separator">|</span> <a href="/contact">Contact</a> 
			</div>

			<div class="right">
				<a href="#">Top ^</a>
			</div>
			
			<div class="clearer">&nbsp;</div>

		</div>

	</div>

</div>

<div id="bottom">

	<div class="center-wrapper">

		<div class="left">
			&copy; 2012 - {{ request.session.currentYear }} Materials Data Curation System <span class="text-separator">|</span> <a href="/privacy-policy">Privacy Policy</a> <span class="text-separator">|</span> <a href="/terms-of-use">Terms of Use</a>
{% if user.is_staff %}
<span class="text-separator">|</span> <a href="/admin" target="_new">Administration</a> 
{% else %}

{% endif %}
		</div>

		<div class="right">
			<a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a> 
		</div>
		
		<div class="clearer">&nbsp;</div>

	</div>

</div>

<script src="{% static 'resources/js/bootstrap.min.js' %}"></script>
<script src="{% static 'inc/controllers/js/data_exploration.js' %}"></script>
<script>
Dajaxice.explore.getCustomForm(Dajax.process);
</script>

<div id="dialog-errors-message" title="Errors" style="display:none;">
<p></p>
  <p id="listErrors">
  </p>
</div> 

<div id="dialog-customTree" title="Select an Element" style="display:none;">
	<p>
	Select the element that you want to insert in the query.
	</p>
	<div id="customForm">
	</div>
</div>

<div id="dialog-sparqlcustomTree" title="Get the path to an Element" style="display:none;">
	<p>
	This window allows to help you to build the query. Select the element that you want to insert in the query and then go to the bottom of the window to copy/paste the path in your query.
	</p>
	<div id="sparqlCustomForm">
	</div>
	<br/><strong>Element Path :</strong><br/>
	<input id="sparqlElementPath" type="text"/>
	<br/><strong>Query Example :</strong><br/>
	<textarea id="sparqlExample"></textarea>	
</div>

<div id="dialog-subElementQuery" title="Subelement Query" style="display:none;">
	<p>
	Define the query to find a match inside a subelement.
	</p>
	<div id="subElementQueryBuilder">
	</div>
</div>

</body>
</html>
