{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: help.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block title %}<h1><span>Help</span></h1>{% endblock %}
{% block menu %}{% include 'mdcs/menus/main.html' with active_tab='help' %}{% endblock %}

{% block content%}
<div class="left" style="width: 830px">
	<br/>
	{% if help %}
	    {{ help.content | safe}}
	{% else %}
	    <a href="/contact">Contact the administrator</a>
	{% endif %}
</div>
<div class="clearer">&nbsp;</div>
{% endblock %}
