{% extends "nmrr/extra/large_intro.html" %}
{% load staticfiles %}
{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: index.html
# Application: templates
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block menu %}{% include 'mdcs/menus/main.html' with active_tab='tab1' %}{% endblock %}

{% block title %}
<article>
	<h2>Find Materials Resources</h2>
	<div class="article-info"><a href="http://preview.justfreetemplates.com/2015/01/template_3377/index.html#" rel="author"></a></div>
	<p>This system allows for the registration of materials resources, bridging the gap between existing resources and the end users. The NIST Materials Resource Registry functions as a centrally located service, making the registered information available for research to the materials community.</p>
	<p>This is being developed at the National Institute of Standards and Technology and is made available to solicit comments from the Material Science community. Please do not enter any proprietary data into this system.</p>
<div class="clearer">&nbsp;</div>
{% endblock %}

{% block content %}

{% endblock %}
