<!-- 
################################################################################
#
# File Name: privacy-policy.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->

{% extends "base.html" %}
{% load staticfiles %}

{% block title %}<h1><span>Privacy Policy</span></h1>{% endblock %}

{% block menu %}{% include 'menu.html' with active_tab='privacy' %}{% endblock %}

{% block content%}
<div class="left" style="width: 830px">
	<br/>
	{% if policy %}
	{{ policy.content | safe}}
	{% else %}
	<a href="/contact">Contact the administrator</a>
	{% endif %}
</div>
<div class="clearer">&nbsp;</div>
{% endblock %}
