/*
################################################################################
#
# File Name: oai_pmh.css
# Purpose:   For explore app
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#         Guillaume SOUSA AMARAL
#         guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################ 
*/

div.collapse{
	background-image: none;
	background-color: #f0f0f0;
}

.collapse-data{
	height:0px;
	width:100%;
	word-break: break-all;
}

table.data td:first-child {
	width: 250px;
	word-break: break-all;
}

#pleaseWaitDialog {
	top:30%;
	left:50%;
	outline: none;
}

#data-provider-my-info td:first-child {
	font-weight: bold;
}

.invisible {
	background: rgba(255,255,255,0.5);
}

tr.alertTr td {
	border-bottom-style:hidden;
	background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
	background-image:      -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
	background-image:         linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
	background-repeat: repeat-x;
	border-color: #f5e79e;
}

.no-decoration a:link
{
 text-decoration:none;
}

.myinfos td{
	word-break: break-all;
}