/*
################################################################################
#
# File Name: oai_pmh.css
# Purpose:   For explore app
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#         Guillaume SOUSA AMARAL
#         guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################ 
*/

div.collapse{
	background-image: none;
	background-color: #f0f0f0;
}

.collapse-data{
	height:0px;
	width:100%;
	word-break: break-all;
}

table.data td:first-child {
	width: 250px;
	word-break: break-all;
}

#pleaseWaitDialog {
	top:30%;
	left:50%;
	outline: none;
}

#data-provider-my-info td:first-child {
	font-weight: bold;
}

.invisible {
	background: rgba(255,255,255,0.5);
}