{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: footer.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}
<footer>
<div class="footer-bottom">
<p>
    &copy; 2014-2015 NIST Materials Resource Registry | <a href="/privacy-policy">Privacy Policy</a> |
    <a href="/terms-of-use">Terms of Use</a>
    {% if user.is_staff %}
     | <a href="/admin" target="_new">Administration</a>
    {% endif %}
</p>
</div>
</footer>
