{% load staticfiles %}
{% comment %}
<!--
################################################################################
#
# File Name: header.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}
<header>
<div class="width">
<h1>
    <a href="http://www.nist.gov/"><img src="{% static 'img/NIST_logo.svg' %}" width="150"></a>
</h1>
<nav>
<!--<ul class="sf-menu dropdown sf-js-enabled sf-shadow">-->
<ul class="dropdown sf-menu">
    <li {% block menuItemHomeClass %}{% endblock %}><a href="/">Home</a></li>
    <li {% block menuItemServicesClass %}{% endblock %}>
        <a href="#">Services <i class="fa fa-caret-right"></i></a>
        <ul>
            <li><a href="/explore">{{ CUSTOM_EXPLORE }}</a></li>
            <li><a href="/curate">{{ CUSTOM_CURATE }}</a></li>
        </ul>
    </li>

    {% if user.is_authenticated %}
    <li {% block menuItemDashboardClass %}{% endblock %}><a href="/dashboard">Dashboard</a></li>
    {% else %}
    <li {% block menuItemLoginClass %}{% endblock %}><a href="/login">Login</a></li>
    {% endif %}

    <li {% block menuItemHelpClass %}{% endblock %}><a href="/help">Help</a></li>
    <li {% block menuItemContactClass %}{% endblock %}><a href="/contact">Contact</a></li>
    <li {% block menuItemApiClass %}{% endblock %}><a href="/api">API</a></li>
</ul>
</nav>
</div>

<div class="clear"></div>
</header>
