<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<console name="console" target="SYSTEM_OUT">
			<thresholdFilter level="TRACE"/>
			<patternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%level][%c{5}|%M] %msg%n"/>
		</console>
		<!--file name="logFile" fileName="logs/test.log">
			<thresholdFilter level="INFO"/>
			<patternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%level][%c{5}|%M] %msg%n"/>
		</file-->
	</appenders>
	<loggers>
		<logger name="gov.nist.mgi.tc.text.Text" level="info" additivity="false">
			<appenderRef ref="console"/>
		</logger>
		<logger name="gov.nist.mgi.tc.text.TextStatistics" level="info" additivity="false">
			<appenderRef ref="console"/>
		</logger>
		<logger name="gov.nist.mgi.tc.spcheck.SpellChecker" level="info" additivity="false">
			<appenderRef ref="console"/>
		</logger>
		
		<root level="all">
			<appenderRef ref="console"/>
			<!--appenderRef ref="logFile"/-->
		</root>
	</loggers>
</configuration>