{% load dict_key_extras %}
<table id="table-{% if objectType == "Template" %}template{% elif objectType == "Type" %}type{% endif %}-{{group}}" class="display data-table" style="margin-bottom: 0em; width:100%; border: None">
    <thead>
        {% if user.is_staff %}
            <th> {% if user.is_staff %} <input type="checkbox" id="select_all_{{group}}" onchange="selectAll(this, '{{group}}')"> {%endif%} </th>
        {% endif %}
        <th>{{ objectType }} name</th>
        <th>Filename</th>
        {% if user.is_staff %}
            <th>User</th>
        {% endif %}
        <th>Actions</th>
    </thead>
    <tbody>
        {% for object in objects %}
            {% cycle 'even' '' as rowcolors silent %}
            <tr class="{{ rowcolors }}">
                {% if user.is_staff %}
                <td id="actionCheckbox">
                    <input type="checkbox" id="{{ object.id }}" name={{group}}>
                </td>
                {% endif %}
                <td>{{ object.title }}</td>
                <td>{{ object.filename }}</td>
                {% if user.is_staff %}
                    <td>
                        {{usernames|get:object.user}}
                    </td>
                {% endif %}
                <td>
                    {% autoescape on %}
                    <span class="icon legend result" objectType="{{ objectType }}" objectid="{{ object.id }}"  content="{{ object.content|escape }}" >
                        View
                    </span>
                    {% endautoescape %}
                    <span class="icon legend edit" objectfilename="{{ object.filename }}" objectname="{{ object.title }}" objecttype="{{ objectType }}" objectid="{{ object.id }}">
                        Edit
                    </span>
                    <span class="icon legend modules" objectType="{{ objectType }}" objectid="{{ object.id }}">
                        Modules
                    </span>
                    {% if not user.is_staff %}
                    <span class="icon legend delete" objectfilename="{{ object.filename }}" objectname="{{ object.title }}" objecttype="{{ objectType }}" objectid="{{ object.id }}">
                        Delete
                    </span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
