{% extends "mdcs/extra/one_column.html" %}
{% load staticfiles %}
{% load dict_key_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: my_profile_dashboard_my_files.html
# Application: user dashboard
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Xavier SCHMITT
#		  xavier.schmitt@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block title %}
    {% if user.is_staff %}
        <h1><span>All Files</span></h1>
    {% else %}
        <h1><span>My Files</span></h1>
    {% endif %}
{% endblock %}
{% block menu %}{% include 'mdcs/menus/main.html' with active_tab='profile' %}{% endblock %}

{% block submenu %}
    {% include 'mdcs/menus/submenu/dashboard.html' with active_tab='tab5' %}
{% endblock %}

{% block content%}


<div id="body">
    {% if user.is_staff %}
    <ul  class="nav nav-tabs">
                <li class="active"> <a href="#admin" data-toggle="tab" onclick="resetOtherCheckBox();" style="text-decoration:none;">Admin</a> </li>
                <li><a href="#others" data-toggle="tab" onclick="resetAdminCheckBox();" style="text-decoration:none;">Others</a> </li>
    </ul>
    <div class="dropdown" id="id_actions" style="display:none">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Choose action
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for value, text in action_form.fields.actions.choices %}
                <li style="cursor:  pointer;" onclick="action_dashboard({{value}});">{{text}}</li>
            {% endfor %}
        </ul>
    </div>
    {%endif%}
    <br/>
    <div class="tab-content">
      <div class="tab-pane active" id="admin" style="width:98%">
        {% if files %}
            {% include 'dashboard/my_dashboard_my_files_table.html' with files=files group='admin' %}
        {% else %}
        <div class="empty-table">
            You don't currently own any {{ objectType }}.
        </div>
        {% endif %}
      </div>
      <div class="tab-pane" id="others" style="width:98%">
        {% if otherUsersFiles%}
            {% include 'dashboard/my_dashboard_my_files_table.html' with files=otherUsersFiles group='other' %}
        {%else%}
          <div class="empty-table">
            No other users {{ objectType }}s found
          </div>
        {%endif%}
      </div>
    </div>
</div>
<div class="clear"></div>
<hr>
{% endblock %}

{% block popups %}

<div id="dialog-deleteconfirm-message" title="Confirm Delete" style="display:none;">
<p></p>
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 10px 0;"></span>
    Are you sure you want to delete <b id="object-to-delete"></b>?
  </p>
</div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/dashboard.js' %}"></script>
<script>
{% if user.is_staff %}
    $(document).ready(function(){
        initFile();
        initAdmin();
    });
{% endif %}
loadUploadManagerHandler();
</script>
{% endblock %}